/* ----------------------------------------------------- */
/* basic */
/* ----------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* clear the float. Add the clearfix class to the 2 <ul> because the list item using the float, clear them in parent <ul> */
.clearfix {zoom: 1;}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------------- */
/* RESUABLE COMPONENTS  */
/* ----------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

div {
    border: dashed 2px blue;
}

/* using padding instead of margin, thinking if you want to add background image for the box? */
section {
    padding: 80px 0;
}

/*make the content smaller inside the div*/
.box{
    padding: 1%;
}

/*
inline element, block element, 
inline block just like inline element, but it can have padding and margin.
*/
/* put common in .btn and put individual styles .btn-full and .btn-ghost */

/* buttons, links in general in CSS have states.
 link(normal state)/visited/active/hover. We want to make to normal state regardingless visited or not.
 active means clicking button while hover means mouse moving on it */
.btn:link,
.btn:visited {
    /*display makes as a inline block*/
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    /* if the following color changes, delay 0.2s. not related to event, just define what happens when event happens */
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/*color picker: flatuicolors.com*/
.btn-full:link,
.btn-full:visited {
    background-color: #f0932b;
    border: 1px solid #f0932b;
    color: white;
    /* make buttons space between */
    margin-right: 15px;
}

/*element's size = padding + border*/
.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #f0932b;
    color: #f0932b
}

/* get a darker color or lighter color based on your color? --> 0to255.com */
.btn:hover,
.btn:active {
    /*this will overwritten in .btn-full*/
    background-color: #e98310;
}

/* make the border color when hover/active */
/* about the overwritten: the last one will take priority. For example, when hover/active, 
background-color will has different values, put the one you want take priority in the last of the line
*/
.btn-full:hover,
.btn-full:active {
    border: #e98310;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: #e98310;
    color: white;
}

/* ----------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    /* view poit heigth */
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    /* used when absoluted position */
    top: 50%;
    left: 50%;
    /*makes the text(the div) in center*/
    transform: translate(-50%, -50%);
}

h1,
h2,h3 {
    /* why set again? because browser overwritten as it is tag <h*/
    font-weight: 300;
    text-transform: uppercase;
    
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    /*it is 40px, based on the html font-size defined in line 11. It will be
    more flexiable*/
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}
/*presto, check source code , select it from source code and see the box , what it looks like
looks the h2:after is part of h2. So, the margin-bottom defined for <h2> will start from the h2:after
*/
h2:after {
    display: block;/*make it as a block*/
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;/*make the line centered*/
    /* this is the space between h2 and THIS. THIS has 30px at bottom and 30px top */
    margin-top: 30px;
}

/*-----PARAGRAPHS-----*/
.long-copy {
    line-height: 145%;
    /*make the <p> take the 70%*/
    width: 70%;
    /*using follow to make the <p> centered*/
    margin-left: 15%;
}
/*line-height: refer to the font size*/
.box p{font-size: 90%;line-height: 145%;}

/*-----ICONS-----*/
.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /* secret to align text and icons. just for reference. no big difference without it */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*---------LINKS---------*/
a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    /* space between link text and the border */
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent;
}

.logo {
    margin-top: 20px;
    height: 100px;
    width: auto;
    float: left;
}

.main-nav {
    margin-top: 55px;
    float: right;
    /* remove the points/dots in font of each list element. means list element is block element, we will make them inline block to  put them in a single line */
    list-style: none;
}

.main-nav li {
    /* make the list item in a single line, not block element */
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    /* padding to add space top/bottom between the text and the border-bottom. the text is element in the <a> while the border-bottom is part of the <a>, the border; */
    padding: 8px 0px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 85%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* icon: ionicons.com */

/* --------------------------------------------- */
/* FEATURES */
/* --------------------------------------------- */
.section-features .long-copy{
    margin-bottom: 30px;
}

/* --------------------------------------------- */
/* MEALS */
/* --------------------------------------------- */
.section-meals{
    /* overwrite the padding defined by .section class for this section.Because there is too much 
    space between sections */
    padding: 0;
}

.meals-showcase{
    /* e.g. no squares in front of each 'list item' of this list<ul> . But 'list' and 'list items' still are block elements */
    list-style: none;
    /*  full screen of width, the 'row' class is not set in the section */
    width: 100%;
}

.meals-showcase li{
    display: block;
    /* no break by setting the float */
    float: left;
    /* 4 photos each line. meaning fullfill its parent */
    width: 25%;
}

.meal-photo{
    /* fullfill the parent that is <li> */
    width: 100%;
    margin: 0;
    /* make the overflow part not visible. cutted.
    Then you will not see the browser scrool bar horizonly*/
    overflow: hidden;
    background-color: black;
}
.meal-photo img{
    /* fullfill the parent that is <figure> */
    width: 100%;
    height: auto;
    /* make the image as 1.15 size of original one, 
    this will cause the the images(width) overflow outside the browser and you will see the
    browser scroll bar horizonly */
    transform: scale(1.15);
    transition: transform 0.5s; opacity: 0.5s;
    /* setting the transparent,need to use this with background color together to achive 
    desired effect. E.g. parent's background color */
    opacity: 0.7;
    
}

.meal-photo img:hover{
    /* actually, it should be 1. but there is a white bar when transformation. setting to 1.03 will
    eliminates the white bar */
    transform: scale(1.03);
    opacity: 1;
}

/* --------------------------------------------- */
/* HOW IT WORKS */
/* --------------------------------------------- */
/* you will see the seperation between this section3 and section4 as the background slight changes giving user
feeling of seperation*/
.section-steps{
    background-color:#f4f4f4;
}
/* 
We need to set the left phone image and right step text with different values.
.steps-box {
    margin-top: 30px;
} */

/* the first element with class .steps-box */
.steps-box:first-child{
    /* not only align text, but anything inside the container(inline elements like image, text...) */
    text-align: right;
    /* The size of the padding as a percentage, relative to the width of the containing block. */
    padding-right: 3%;
    /* setting this to 30px, setting the last-child to 70px. Setting different values makes the text lower than the phone image  */
    margin-top: 30px;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
}
.works-step{
    margin-bottom: 50px;
}
/* lower the 2 images at bottom of the steps */
.works-step:last-of-type{
    margin-bottom: 80px;
}


.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    /* no line break, so the number can be in the same line with the text with float property */
    display: inline-block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 150%;
    padding: 5px;
    float: left;
    margin-right: 30px;
}
/* remove the border effects brought by section 4 */
.btn-app:link,
.btn-app:visited{
    border: 0px;
}
/* make images same height */
.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/* --------------------------------------------- */
/* SECTION 4 CITIES */
/* --------------------------------------------- */

.box img{
    /* parent */
    width: 100%;
    height: auto;
    /* h3 force line break, so, there is 15px between image and the h3 on the bottom */
    margin-bottom: 15px;
}

.city-feature{
    margin-bottom: 5px;
}



